PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/backend-shopster
JWT_SECRET=replace_with_a_long_random_secret
JWT_BUYER=replace_with_a_buyer_secret
STRIPE_SECRET_KEY=sk_test_dummy_key
STRIPE_WEBHOOK_SECRET=whsec_dummy_secret
CLIENT_URL=http://localhost:5173

CLOUDINARY_CLOUDNAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_SECRET=your_api_secret